<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <targets>
    <!-- add your targets here -->

    <target xsi:type="File" keepFileOpen="false"  autoFlush="true" name="debugFile" fileName="${basedir}/logs/debug_${shortdate}.log"
			layout="*****${newline}${longdate} [${threadid} ${threadname} ${logger}] ${uppercase:${level}} ${message}${newline} ${exception:innerFormat=ShortType,Message,StackTrace:maxInnerExceptionLevel=5:format=ShortType,Message,StackTrace:separator=*}${newline} ${stacktrace} ${newline}${newline}"
			header="${shortdate} ${machinename} PID${processid} ${processname}  starttime=${processinfo:property=StartTime}${newline}${nlogdir}${newline}================================================================================${newline}" />

    <target xsi:type="File" keepFileOpen="false" autoFlush="true" name="infoFile" fileName="${basedir}/logs/info_${shortdate}.log"
			layout="*****${newline}${longdate} [${threadid} ${threadname} ${logger}] ${uppercase:${level}} ${message}${newline} ${exception:innerFormat=ShortType,Message,StackTrace:maxInnerExceptionLevel=5:format=ShortType,Message,StackTrace:separator=*}${newline} ${stacktrace} ${newline}${newline}"
			header="${shortdate} ${machinename} PID${processid} ${processname}  starttime=${processinfo:property=StartTime}${newline}${nlogdir}${newline}================================================================================${newline}" />

    <target xsi:type="File" keepFileOpen="false" autoFlush="true" name="warnFile" fileName="${basedir}/logs/warn_${shortdate}.log"
			layout="*****${newline}${longdate} [${threadid} ${threadname} ${logger}] ${uppercase:${level}} ${message}${newline} ${exception:innerFormat=ShortType,Message,StackTrace:maxInnerExceptionLevel=5:format=ShortType,Message,StackTrace:separator=*}${newline} ${stacktrace} ${newline}${newline}"
			header="${shortdate} ${machinename} PID${processid} ${processname}  starttime=${processinfo:property=StartTime}${newline}${nlogdir}${newline}================================================================================${newline}" />

    <target xsi:type="File" keepFileOpen="false" autoFlush="true" name="exceptionFile" fileName="${basedir}/logs/exception_${shortdate}.log"
			layout="*****${newline}${longdate} [${threadid} ${threadname} ${logger}] ${uppercase:${level}} ${message}${newline} ${exception:innerFormat=ShortType,Message,StackTrace:maxInnerExceptionLevel=5:format=ShortType,Message,StackTrace:separator=*}${newline} ${stacktrace} ${newline}${newline}"
			header="${shortdate} ${machinename} PID${processid} ${processname}  starttime=${processinfo:property=StartTime}${newline}${nlogdir}${newline}================================================================================${newline}" />
  
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" levels="Trace, Debug" writeTo="debugFile" />
    <logger name="*" levels="Info" writeTo="infoFile" />
    <logger name="*" levels="Warn" writeTo="warnFile" />
    <logger name="*" minlevel="Error" writeTo="exceptionFile" />
  </rules>
</nlog>